<!-- Do we need this? They get merchant account created at login with oauth -->
<!-- User gets saved when they checkout  -->
<!--We could make this a guest login I guess?  -->
<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
