<% if @user.nil? %>
  <h1>User Not Found</h1>
<% else %>
  <!-- Are we doing show page for just merchants? -->
  <!--Check seabay for reference  -->
  <h1><%= @user.name %></h1>
  <p>
    <%= @user.email %>
  </p>

<% end %>
