<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>

<% if @current_order.products.count == 0 %>
  <p>There's nothing in your cart!</p>
<% else %>
<ul>
  <% @current_order.orders_items.each do |orders_item| %>
    <li>
      <%=  orders_item.product.name %>
    </li>
    <li>
      <%=  orders_item.product.price %>
    </li>
  <% end %>
</ul>
<% end %>
