<h5> this is the home page housed in products#root</h5>

<!-- Intro Seven -->
<section class="intro carousel slide bg-overlay-light h-auto" id="carouselExampleCaptions">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img class="d-block img-fluid" alt="First slide" src="https://images.unsplash.com/photo-1527321838203-8f3f563a0656?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7385f90579b0895d69783a80bf718d4e&auto=format&fit=crop&w=1350&q=80">
        <div class="carousel-caption ">
          	<h2 class="display-4 text-white mb-2 mt-4">Find your thrill</h2>
			      <p class="text-white mb-3 px-5 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do enim ad minim veniam, </p>
			      <%= link_to "Find your home", products_path, class: "btn btn-light btn-capsul px-4 py-2" %>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" alt="First slide" src="https://images.unsplash.com/photo-1534577403868-27b805ca4b9c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c4be8f3f946b8d15e62c90c8e6a56ebb&auto=format&fit=crop&w=2119&q=80">
        <div class="carousel-caption ">
          	<h2 class="display-4 text-white mb-2 mt-4">Start your search today</h2>
			<p class="text-white mb-3 px-5 lead"></p>
      <%= link_to "Find your home", products_path, class: "btn btn-light btn-capsul px-4 py-2" %>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block img-fluid" alt="First slide" src="https://images.unsplash.com/photo-1513605074-986a86a90c73?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=868511517dd8d8e1ff8f86187f2e1111&auto=format&fit=crop&w=2089&q=80">
        <div class="carousel-caption ">
          	<h2 class="display-4 text-white mb-2 mt-4"></h2>
			<p class="text-white mb-3 px-5 lead"></p>
			<%= link_to "Find your home", products_path, class: "btn btn-light btn-capsul px-4 py-2" %>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</section>

<!-- Info block 1 -->
<section class="info-section">
	<div class="container">
		<div class="head-box text-center mb-5">
			<h2>Who We Are</h2>
			<h6 class="text-underline-primary">This is information panel</h6>
		</div>
		<div class="three-panel-block mt-5">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<i class="fa fa-laptop box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
						<h3>Zombies</h3>
						<p class="px-4">From cemetaries to remote fields find the perfect dwelling grounds</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<i class="fa fa-calendar box-circle-solid mt-3 mb-3" aria-hidden="true"></i>
						<h3>Werewolves</h3>
						<p class="px-4">Find the perfect forest with unobstructed moon views</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6">
					<div class="service-block-overlay text-center mb-5 p-lg-3">
						<img src"https://image.flaticon.com/icons/svg/863/863248.svg", class:"box-circle-solid mt-3 mb-3" >
						<h3>Spooky</h3>
						<p class="px-4">Want a home with a different thrill? You will never know what to expect with these haunted homes</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Info block 1 -->
<section class="info-section bg-primary py-0">
	<div class="container-fluid">
		<div class="row">
            <div class="col-md-6 col-lg-6 content-half mt-md-0 pl-5 pt-4">
                <div class="head-box mb-5 pl-5 mt-2">
					<h2 class="text-white">Our Story</h2>
					<h6 class="text-white text-underline-rb-white">This is information panel</h6>
				</div>
                <ul class="pl-5">
                    <li>
                    	<i class="fa fa-laptop box-round-outline" aria-hidden="true"></i>
                    	<span class="list-content">
                    		<strong>Responsive Design</strong>
                    		<br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    	</span>
                	</li>
                    <li>
                    	<i class="fa fa-cloud-upload box-round-outline" aria-hidden="true"></i>
                    	<span class="list-content">
                    		<strong>Cloud Storage</strong>
                    		<br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    	</span>
                    </li>
                    <li>
                    	<i class="fa fa-diamond box-round-outline" aria-hidden="true"></i>
                    	<span class="list-content">
                    		<strong>Premium Features</strong>
                    		<br>Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    	</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 p-0 m-0">
            	<img src="https://grafreez.com/wp-content/temp_demos/suffi/img/intro-bg.jpg" class="img-fluid">
            </div>
        </div>
</section>
