<section class="skewed" id="wrapper">
  <div class="layer bottom">
    <div class="content-wrap">
      <div class="content-body">
        <h1>Start your search...</h1>
      </div>
      <img src="https://res.cloudinary.com/dbpolimgc/image/upload/v1539199490/Mask%20Assets/Mask-bw.jpg" alt="mask negative">
    </div>
  </div>

  <div class="layer top">
    <div class="content-wrap">
      <div class="content-body">
        <h1>Thrillow</h1>
      </div>
      <img src="https://res.cloudinary.com/dbpolimgc/image/upload/v1539199490/Mask%20Assets/Mask-actual.jpg" alt="mask">
    </div>
  </div>

  <div class="handle"></div>
</section>
